@use "bulma/sass/utilities/mixins";

.topicPage {
  &__metadata {
    @include mixins.mobile {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  &__description {
    @include mixins.mobile {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  &__speakerLinks {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;

    a {
      color: #555;
      display: inline-flex;
      align-items: center;

      &:hover {
        color: #000;
      }
    }
  }
}